body {
    background-color: #E6F2DD;
    color: #88BDA4;
    font-family: 'Courier New', Courier, monospace;
}
b {
    color: rgb(28, 44, 117);
}

.my-style {
    text-align: center;
}

#main-title {
    color: #659287;
    text-align: center;
}

